<footer>
    <p>© 2023 مدونتي البسيطة</p>
</footer>
</div>
<% if (typeof isEditor !== 'undefined' && isEditor) { %>
    <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
    <script src="/js/editor.js"></script>
<% } %>
</body>
</html>